.contact {
  margin-top: 5rem;
}

.contact h1 {
  font-size: 3.2rem;
  text-align: center;
}

.contact p {
  font-size: 1.4rem;
  text-align: center;
}

.btn {
  border: 0;
  border-radius: 6px;
  background-color: #fd6f00;
  color: white;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background-color 0.3s;
  /* align-self: center;
  width: auto; */
}

@media screen and (min-width: 1024px) {
  .contact h1 {
    font-size: 4.5rem;
    text-align: center;
  }

  .contact p {
    font-size: 2rem;
    text-align: center;
  }

  .btn {
    align-self: flex-start;
    width: auto;
  }
}

.btn:hover {
  background-color: #fd6500;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input,
textarea {
  border-radius: 10px;
  border: 1px solid #3c3c3c;
  padding: 10px;
  transition: border-color 0.3s;
}

.input:focus,
textarea:focus {
  outline: 0;
  border-color: #fd6f00;
}

textarea {
  height: 250px;
}
